# liste des dossiers que vous ne voulez pas suivre / versionner
.gitignore

# liste des fichiers que vous ne voulez pas suivre / versionner
git.pdf
00-start.txt

#git + github => partager ton code aurpès de la communaute
