.container{
    font-family: sans-serif; /* police sans patte */
    width: 100%; /* si l'écran de lafenêtre < 1200px alors container = 100%*/
    max-width: 1200px; /* si l'écran de lafenêtre > 1200px alors container = 1200px*/
    margin: 0 auto; /*centrer container dans l'écran */
    padding: 20px 20px; /* marge interne de 20px à gauche et à droite */
    box-sizing: border-box; /* par défaut width : 100% 40px cette règle permet d'inclure les 40px dans le 100% */
    border: 2px solid purple;
    border-radius: 10px;
}

input, textarea{
    width: 100%;
    margin: 10px 0;
    padding: 8px 5px;
    box-sizing: border-box;
    border: 1px solid purple;
    border-radius: 5px;
    font-family: inherit;
}
